::selection {
    background: #d9534f;
    color: white;
}

body{
    background: #000;
    background-attachment: fixed;
    word-wrap: break-word;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;
    cursor: url("cur/mouse1.cur"), url("cur/mouse1.cur"), auto;
}

A{
    cursor: url("cur/mouse2.cur"), url("cur/mouse2.cur"), auto;
}

audio{
    display: none;
}
/*使用手机阅读时*/
@media (max-width:768px) {
    body {
        background-color: #f0f0f0;
        background: url("img/bg4.gif");
        background-attachment: fixed;
    }
}

/*设置滚动条的样式*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #018EE8;
}

/*背景图片样式*/
.slideshow,.slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}

.slideshow:after {
    content: '';
}

.slideshow li span{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: -2;
    /* 背面是否可见 */
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
}
.slideshow li:nth-child(1) span {
    background-image: url("img/01.jpg");
}

.slideshow li:nth-child(2) span {
    background-image: url("img/02.jpg");
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    animation-delay: 6s;
}

.slideshow li:nth-child(3) span {
    background-image: url("img/03.jpg");
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    animation-delay: 12s;
}

.slideshow li:nth-child(4) span {
    background-image: url("img/04.jpg");
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    animation-delay: 18s;
}

.slideshow li:nth-child(5) span {
    background-image: url("img/05.jpg");
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    animation-delay: 24s;
}

.slideshow li:nth-child(6) span {
    background-image: url("img/06.jpg");
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    animation-delay: 30s;
}
/*背景图片结束*/
/*头部导航开始*/
#header .navbar{
    font-size: 14px;
    border-radius: 0;
}
/*自定义导航样式*/
.navbar-inverse {
    border-color: #080808;
    -moz-box-shadow: 0 0 8px black;
    -webkit-box-shadow: 0 0 8px black;
    background-color: rgba(10,10,0,0.7);
    box-shadow: 0 0 8px black;
    transition: background-color .5s ease-in-out,box-shadow .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out,box-shadow .5s ease-in-out;
    -webkit-transition: background-color .5s ease-in-out,box-shadow .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out,box-shadow .5s ease-in-out;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-brand{
    font-family: 华文行楷;
}

.first > a{
    color: #ffffff;
    background-color: rgba(138,43,226,0.7) !important;
}

.info-item > a:hover{
    background-color: rgb(1, 142, 232) !important;
}

/*自定义折叠图标颜色*/
.navbar-inverse .navbar-toggle .fa-reorder {
    color: #ffffff;
}

/*头部导航结束*/

/*主题内容start*/

#bodyer{
    padding: 30px 0;
}

.mybody{
    border:none;
    background-color: rgba(230,238,232,0.5);
    -webkit-box-shadow: 0 0 8px black;
    -moz-box-shadow:  0 0 8px black;
    box-shadow:  0 0 8px black;
    -webkit-transition: background-color 0.3 ease-in-out, box-shadow 0.3 ease-in-out;
    -moz-transition: background-color 0.3 ease-in-out, box-shadow 0.3 ease-in-out;
    -o-transition: background-color 0.3 ease-in-out, box-shadow 0.3 ease-in-out;
    transition: background-color 0.3 ease-in-out, box-shadow 0.3 ease-in-out;
}

.mybody2 {
    border:none;
    -moz-box-shadow: 0 0 8px black;
    -webkit-box-shadow: 0 0 8px black;
    background-color: rgba(230,238,232,0.5);
    box-shadow: 0 0 8px black;
}

.mybody2:hover {
    -moz-box-shadow: 0 0 50px black;
    -webkit-box-shadow: 0 0 50px black;
    box-shadow: 0 0 50px black;
}

.mybody:hover{
    background-color: rgba(255,255,255,0.9);
    -webkit-box-shadow: 0 0 50px black;
    -moz-box-shadow: 0 0 50px black;
    box-shadow: 0 0 50px black;
}

#article-list{
    margin-top: 20px;
}

.article{
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.article-trick{
    position: absolute;
    top: -10px;
    right: 5%;
    color:#d9534f;
    font-size: 40px;
}

.data-article{
    position: relative;
}

.title-article h1{
    font-size: 32px;
    margin: 0 auto;
    text-align: center;
}

.title-article h1 span{
    background: #1ec7e6;
    color: #fff;
    position: static;
    font: 90% '微软雅黑',Verdana,Arial,Helvetica,sans-serif;
    padding: 2px;
    margin: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    opacity: .8;
    line-height: 1.5;
}

.list-article{
    padding: 10px 0 0 60px;
}

.list-atticle-container{
    position: relative;
}

.list-article-item a{
    text-decoration: none;
}

.list-article-item a span{
    color: #fff;
    display: inline-block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:5px;
    margin-left: 10px;
    opacity: 0.75;
}

.list-article-item a span:hover{
    opacity: 1;
}

.item-right{
    position: absolute;
    top: -20px;
    right: 20px;
}

.img-top{
    background: url("img/bg-note-top.png") no-repeat left top;
    height:38px;
    width: 280px;
}

.img-bottom{
    background: url("img/bg-note-middle.png") repeat-y left top;
    width:280px;
    padding:0 10px 0 10px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}

.progress-box h5{
    font-size:14px;
    font-family: Hind,sans-serif;
}

.progress-box .progress{
    height: 3px;
    background: #333;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible;
}

.progress-box .progress-bar {
    position: relative;
    transition-duration: 2s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7,1,.7,1);
}

.container-lg{
    padding-top: 100px;
    padding-bottom:100px;
    width:100%;
}

.phone h2{
    font-size: 30px;
    font-weight: 700;
    color: #515769;
    line-height: 1.4;
    font-family: 华文隶书;
}

.phone p{
    font-size: 15px;
    font-weight: 400;
    color: black
    margin-bottom: 15px;
}

/* 字体发光特效 */
.title-article h1 span:hover{
    background: none;
    cursor: url("cur/mouse2.cur"), url("cur/mouse2.cur"), auto;
    -webkit-animation: neon 1.5s ease-in-out infinite alternate;
    -moz-animation: neon 1.5s ease-in-out infinite alternate;
    animation: neon 1.5s ease-in-out infinite alternate;
}

/*主题内容end*/

/*动画效果*/
/*背景图片渐进渐远*/
@-webkit-keyframes imageAnimation {
    0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -webkit-animation-timing-function: ease-out;
    }

    17% {
        opacity: 1;
        -webkit-transform: scale(1.1) rotate(0deg);
    }

    25% {
        opacity: 0;
        -webkit-transform: scale(1.1) rotate(0deg);
    }

    100% {
        opacity: 0
    }
}

@-moz-keyframes imageAnimation {
    0% {
        opacity: 0;
        -moz-animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        -moz-transform: scale(1.05);
        -moz-animation-timing-function: ease-out;
    }

    17% {
        opacity: 1;
        -moz-transform: scale(1.1) rotate(0deg);
    }

    25% {
        opacity: 0;
        -moz-transform: scale(1.1) rotate(0deg);
    }

    100% {
        opacity: 0
    }
}

@-o-keyframes imageAnimation {
    0% {
        opacity: 0;
        -o-animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        -o-transform: scale(1.05);
        -o-animation-timing-function: ease-out;
    }

    17% {
        opacity: 1;
        -o-transform: scale(1.1) rotate(0deg);
    }

    25% {
        opacity: 0;
        -o-transform: scale(1.1) rotate(0deg);
    }

    100% {
        opacity: 0
    }
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }

    17% {
        opacity: 1;
        transform: scale(1.1) rotate(0deg);
    }

    25% {
        opacity: 0;
        transform: scale(1.1) rotate(0deg);
    }

    100% {
        opacity: 0
    }
}
/*背景图片渐进渐远结束*/

/*字体发光特效动画start*/

@-webkit-keyframes neon {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 20px  #fff,
        0 0 30px  #fff,
        0 0 40px  #228DFF,
        0 0 70px  #228DFF,
        0 0 80px  #228DFF,
        0 0 100px #228DFF,
        0 0 150px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #228DFF,
        0 0 35px #228DFF,
        0 0 40px #228DFF,
        0 0 50px #228DFF,
        0 0 75px #228DFF;
    }
}

@-moz-keyframes neon {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 20px  #fff,
        0 0 30px  #fff,
        0 0 40px  #228DFF,
        0 0 70px  #228DFF,
        0 0 80px  #228DFF,
        0 0 100px #228DFF,
        0 0 150px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #228DFF,
        0 0 35px #228DFF,
        0 0 40px #228DFF,
        0 0 50px #228DFF,
        0 0 75px #228DFF;
    }
}

@-o-keyframes neon {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 20px  #fff,
        0 0 30px  #fff,
        0 0 40px  #228DFF,
        0 0 70px  #228DFF,
        0 0 80px  #228DFF,
        0 0 100px #228DFF,
        0 0 150px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #228DFF,
        0 0 35px #228DFF,
        0 0 40px #228DFF,
        0 0 50px #228DFF,
        0 0 75px #228DFF;
    }
}

@keyframes neon {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 20px  #fff,
        0 0 30px  #fff,
        0 0 40px  #228DFF,
        0 0 70px  #228DFF,
        0 0 80px  #228DFF,
        0 0 100px #228DFF,
        0 0 150px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #228DFF,
        0 0 35px #228DFF,
        0 0 40px #228DFF,
        0 0 50px #228DFF,
        0 0 75px #228DFF;
    }
}

/*字体发光特效动画end*/


/*如果浏览器不正常css3动画*/
.no-cssanimations .cb-slideshow li span {
    opacity: 1;
}
